# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user

# Set the authentication options for the system
# auth --passalgo=sha512 --useshadow
# auth --enableshadow --passalgo=sha512
# License agreement
eula --agreed
# Use network installation
url --url="https://download.rockylinux.org/stg/rocky/9.3/BaseOS/x86_64/os/"
repo --name=AppStream --mirrorlist="https://mirrors.rockylinux.org/mirrorlist?repo=rocky-AppStream-9.3&arch=x86_64"
# Use text mode install
text
# Disable Initial Setup on first boot
firstboot --disable
# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Firewall configuration
firewall --enabled --service=ssh
# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=rocky9.localdomain
# Root password
rootpw packer --plaintext
# rootpw --iscrypted baa24fd40228c3a94b9dc21ef17fedfbebf60c7e8a272983a0d1f81313f26106baaed4b9e54900de37a29aa886c0fe246df9b68e712a599fe4a8186f2335f45d
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx
# System timezone
timezone US/Eastern
# Add a user named packer
# user --groups=wheel --name=packer --password=packer --plaintext --gecos="packer"
user --groups=wheel --name=packer --password=baa24fd40228c3a94b9dc21ef17fedfbebf60c7e8a272983a0d1f81313f26106baaed4b9e54900de37a29aa886c0fe246df9b68e712a599fe4a8186f2335f45d --iscrypted --gecos="packer"
# Add an Authorized SSH Key
sshkey --username=packer "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDdl9x4XyPi6QNVaiKn7yy6Akifvo9DJAERBG0pV+T04SZoQ9b3jiPzwF/EsgnA87BCJeh2ONkPZBGxUfGI/fgTwSc7ITt8HiJLS6/ByEBpNrxlh1o35G1+RoQd//3fIJXgotEN37Tf6ANt2a1ajcQGZCeZhfkiWqAk1MdxakUh15oYvnX8v64r9nvlIMQ+luCKLEihlIeGIGvfOXn0npyiSROCXbuaeEsH7dKfs+fvChwzKj33ZxNG+1CvMJrkLvJJWm9PBZo+7Ygye3ucbWWbvCpkkLhi2f7BB7YmsF4+0Fu5f69fO/Vtbrvw9QV8PUFaRQ0ABKUtj0GJNrQ3KAyrBRy6hvMi6+AeqGEpd16hEV8JqiNnufxah6p8TnmgNoibjPht1VTDlc/FMfW4L2b2BpL7wPfHmcr8lUwqdkJCem6/YD02RhQUawkUpIg0/uT3sMKsX+Hpyt3Wn3+a+s2PL0/j3dWPk5jIna/ci69aUojvyJEuBXUtDM9mFEnA4O1Cst4OWGXFPovnBDGfRSR4ZqFb7xgK0muHnkCZmQ0m5rrEp7fCUUatncSkq6a9/XVoBFug1KtlXsCX8vVCiDOwiOaO7A+kS/w8tLIrYQdU/pqARAggp8LR7tuaJX+mzFSMBFssi8tVsHH7IC/opFD7myJmYCljKBKBbb+EQlxhjQ== user@user-ThinkBook-15-G2-ITL"
sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDdl9x4XyPi6QNVaiKn7yy6Akifvo9DJAERBG0pV+T04SZoQ9b3jiPzwF/EsgnA87BCJeh2ONkPZBGxUfGI/fgTwSc7ITt8HiJLS6/ByEBpNrxlh1o35G1+RoQd//3fIJXgotEN37Tf6ANt2a1ajcQGZCeZhfkiWqAk1MdxakUh15oYvnX8v64r9nvlIMQ+luCKLEihlIeGIGvfOXn0npyiSROCXbuaeEsH7dKfs+fvChwzKj33ZxNG+1CvMJrkLvJJWm9PBZo+7Ygye3ucbWWbvCpkkLhi2f7BB7YmsF4+0Fu5f69fO/Vtbrvw9QV8PUFaRQ0ABKUtj0GJNrQ3KAyrBRy6hvMi6+AeqGEpd16hEV8JqiNnufxah6p8TnmgNoibjPht1VTDlc/FMfW4L2b2BpL7wPfHmcr8lUwqdkJCem6/YD02RhQUawkUpIg0/uT3sMKsX+Hpyt3Wn3+a+s2PL0/j3dWPk5jIna/ci69aUojvyJEuBXUtDM9mFEnA4O1Cst4OWGXFPovnBDGfRSR4ZqFb7xgK0muHnkCZmQ0m5rrEp7fCUUatncSkq6a9/XVoBFug1KtlXsCX8vVCiDOwiOaO7A+kS/w8tLIrYQdU/pqARAggp8LR7tuaJX+mzFSMBFssi8tVsHH7IC/opFD7myJmYCljKBKBbb+EQlxhjQ== user@user-ThinkBook-15-G2-ITL"
# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"
# Clear the Master Boot Record
zerombr
# Remove partitions
clearpart --all --initlabel
# Automatically create partitions using LVM
autopart --type=lvm
# Reboot after successful installation
reboot

%packages --ignoremissing
# dnf group info minimal-environment
@^minimal-environment
# Exclude unnecessary firmwares
-iwl*firmware
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'packer'
echo "packer ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/packer

# d-i user-setup/allow-password-weak boolean true
## Install SSH key
### Create directory
mkdir /root/.ssh/
### Create File
cat <<EOF >/root/.ssh/authorized_keys
-----BEGIN RSA PUBLIC KEY-----
MIICCgKCAgEA3ZfceF8j4ukDVWoip+8sugJIn76PQyQBEQRtKVfk9OEmaEPW944j
88BfxLIJwPOwQiXodjjZD2QRsVHxiP34E8EnOyE7fB4iS0uvwchAaTa8ZYdaN+Rt
fkaEHf/93yCV4KLRDd+03+gDbdmtWo3EBmQnmYX5IlqgJNTHcWpFIdeaGL51/L+u
K/Z75SDEPpbgiixIoZSHhiBr3zl59J6cokkTgl27mnhLB+3Sn7Pn7wocMyo992cT
RvtQrzCa5C7ySVpvTwWaPu2IMnt7nG1lm7wqZJC4Ytn+wQe2JrBePtBbuX+vXzv1
bW678PUFfD1BWkUNAASlLY9BiTa0NygMqwUcuobzIuvgHqhhKXdeoRFfCaojZ7n8
WoeqfE55oDaIm4z4bdVUw5XPxTH1uC9m9gaS+8D3x5nK/JVMKnZCQnpuv2A9NkYU
FGsJFKSINP7k97DCrF/h6crd1p9/mvrNjy9P493Vj5OYyJ2v3IuvWlKI78iRLgV1
LQzPZhRJwODtQrLeDlhlxT6L5wQxn0UkeGahW+8YCtJrh55AmZkNJua6xKe3wlFG
rZ3EpKumvf11aARboNSrZV7Al/L1QogzsIjmjuwPpEv8PLSyK2EHVP6agEQIIKfC
0e7bmiV/psxUjARbLIvLVbBx+yAv6KRQ+5siZmApYygSgW2/hEJcYY0CAwEAAQ==
-----END RSA PUBLIC KEY-----
EOF

### set permissions
chmod 0700 /root/.ssh/
chmod 0600 /root/.ssh/authorized_keys

### fix selinux context
restorecon -R /root/.ssh/# Check if SSH is up and running

# Check SSH status
d-i systemctl status ssh
%end